*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
   
}

a{
color:inherit;
}

p{  
    color: #09d3c576;
    color:cadetblue;
}

.wrapper{
    /* width: 850px; */
    max-width: 850px;
    color:chartreuse;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 20px auto 50px;
}

img{
    width: 100%;
    height: 300px;
}

/* h1, h2, h3, h4, h5, h6 {
font-size: 40px; */

.h_all{
    font-size: 40px;
}
.text_red{
    color: red;
}
.text_up{
    text-transform: uppercase;
}